<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Fixation</title>
    <link rel="shortcut icon" href="../Image/logo.png" type="image/x-icon">
</head>
<body>
    <main>
        <article>
            <h1 class="Fixation">Fixation</h1>
            <p>
                Esse programa serve para organizar qualquer diretório que esteja desorganizado, 
                colocando-os em pastas separadas por formatos de arquivo.
            </p>
            <a href="https://github.com/yRedskull/Fixation" target="_blank" ><img title="https://github.com/yRedskull/Fixation" src="../Image/logo.png" alt="Logo Fixation"></a>
            <div class="video">
                <iframe width="760" height="415" src="https://www.youtube.com/embed/UHhgmU8FJ6Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </article>
    </main>
    
</body>
</html>